<div class="domains-container">
	<table class="table table-striped">
		<tr>
			<th>Domain</th>
			<th>Status</th>
			<th>Expiration Date </th>
		</tr>
		<% @idea.domains.each do |domain| %>
		<tr>
			<td><%=domain.url %></td>
			<td><%=domain.status %></td>
			<td><%=domain.expirationdate %></td>
		</tr>
		<% end %>
	</table>
</div>