<div class="row">
	<%= render :partial => '/ideas/navigation' %>
	<div class="col-md-10">
		<h2>Domains</h2>
		<%= render :partial => 'searchform' %>
		<br/>
		<%= render :partial => 'domainwatchlist' %>
	</div>
</div>