<div class="btn-group btn-group-justified">
  <div class="btn-group">
    <button type="button" id="trackerstep1" class="btn btn-primary active">Create Idea</button>
  </div>
  <div class="btn-group">
    <button type="button" id="trackerstep2" class="btn btn-default">Add Features</button>
  </div>
  <div class="btn-group">
    <button type="button" id="trackerstep3" class="btn btn-default">Invite Collaborators</button>
  </div>
</div>