<div class="nested-fields">
	<div class="panel panel-default">
	  	<div class="panel-heading">
	  	Feature
		  	<div class="pull-right">
		  		<%= link_to_remove_association 'Remove', f %>
		  	</div>
	  	</div>
	  	<div class="panel-body">
			<%= f.input :name %>
			<%= f.input :description %>
		</div>
	</div>
</div>