<div class="panel panel-default">
  	<div class="panel-heading">
  	Menu
  	</div>
  	<div class="panel-body">
	<%= render :partial => '/ideas/navigation' %>
	</div>
</div>
<div class="panel panel-default">
  	<div class="panel-heading">
  	Shared With
  	</div>
  	<div class="panel-body">
		<%= render :partial => '/ideas/ideausersgrid' %>
	</div>
</div>