<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Platty.co</h1>
    <p>
      You have been invited by someone to collaborate on an idea.<br>
    </p>
    <p>
      <%= link_to "Click Here", new_user_registration_url %> to sign up and collobrate!
    </p>
    <p>Thanks,</p>
    <p>The Idea Team</p>
  </body>
</html>