<div class="row">
	<div class="col-md-3">
		<%= render :partial => '/ideas/ideasidebar' %>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
		  	<div class="panel-heading">
			Manage Subfeature Categories
			</div>
			<div class="panel-body">
				<%= render :partial => 'categoryform' %>
				</br>
				<%= render :partial => 'categorylist' %>
			</div>
		</div>
	</div>
</div>