<div class="row">
	<%= render :partial => '/ideas/navigation' %>
	<div class="col-md-10">
		<h2>Manage Subfeature Categories</h2>
		<%= render :partial => 'categoryform' %>
		</br>
		<%= render :partial => 'categorylist' %>
	</div>
</div>