<h2>Take ideas from creation to execution</h2>
<div class="col-md-4">
	<div class="sidecontentcontainer">
		<div class="container">
			<%= image_tag("idea.png", :alt => "Brainstorm") %>
			<h3>Brainstorm</h3>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="sidecontentcontainer">
		<div class="container">
			<%= image_tag("organize.png", :alt => "Organize") %>
			<h3>Organize</h3>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="sidecontentcontainer">
		<div class="container">
			<%= image_tag("collaborate.png", :alt => "Collaborate") %>
			<h3>Collaborate</h3>
		</div>
	</div>
</div>