<div class="text-center">
	<h2>Take ideas from creation to execution</h2>
</div>
<div class="col-md-4">
	<div class="sidecontentcontainer2">
		<div class="center-block text-center">
			<%= image_tag("idea.png", :alt => "Brainstorm", :class => "center-block") %>
			<h3>Brainstorm</h3>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="sidecontentcontainer2">
		<div class="center-block text-center">
			<%= image_tag("organize.png", :alt => "Organize", :class => "center-block") %>
			<h3>Organize</h3>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="sidecontentcontainer2">
		<div class="center-block text-center">
			<%= image_tag("collaborate.png", :alt => "Collaborate", :class => "center-block") %>
			<h3>Collaborate</h3>
		</div>
	</div>
</div>