<div class="messages-container">
	<table class="table table-striped">
		<tr>
			<th>Message</th>
			<th>User</th>
		</tr>
		<% @idea.ideamessages.each do |message| %>
		<tr>
			<td><%=message.message %></td>
			<td><%=message.user.username if message.user %></td>
		</tr>
		<% end %>
	</table>
</div>