<ul class="message-list">
	<% @ideamessages.each do |m| %>
	<li>
		<a href="#">
			<%= image_tag(ApplicationHelper.profilepicture(m.imageurl,50), :class => "avatar", :title => "#{m.username}") %>
		</a>
		<div>
			<strong><%=m.username %></strong>
			<br />
			<%=m.message %>
		</div>
		<div class="date"><%= m.created_at.to_formatted_s(:long) unless m.created_at.nil? %></div>
	</li>
	<% end %>
</ul>