<ul class="message-list">
	<% @idea.ideamessages.each do |m| %>
	<li>
		<a href="#">
			<%= image_tag(ApplicationHelper.profilepicture(nil,50), :class => "avatar", :title => "#{m.user.username if m.user}") %>
		</a>
		<div>
			<strong><%=m.user.username if m.user %></strong>
			<br />
			<%=m.message %>
		</div>
		<div class="date"><%= m.created_at.to_formatted_s(:long) unless m.created_at.nil? %></div>
	</li>
	<% end %>
</ul>