<div class="row">
	<div class="col-md-3">
		<%= render :partial => '/ideas/ideasidebar' %>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
		  	<div class="panel-heading">
			Messages
			</div>
			<div class="panel-body">
				<%= render :partial => 'form' %>
				<%= render :partial => 'thread' %>
			</div>
		</div>
	</div>
</div>