<div class="domains-container">
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Idea Count</th>
			<th>Actions</th>
		</tr>
		<% @ideatypeswithcount.each do |i| %>
				<tr>
					<td><%= i[1] %></td>
					<td><%= i[2] %></td>
					<td>					 
						<%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, group_ideatype_path(:id => i[0], :group_id => @group.id), :method => :delete, data: { confirm: 'Are you sure you want to delete this Idea Type? (All Idea''s associated with this idea will be deleted)' } %>
					</td>
				</tr>
		<% end %>
	</table>
</div>