<div class="row">
    <%= render :partial => '/ideas/navigation' %>
    <h4>Current Users</h4>
        <%= render partial: 'list'%>
    	<p><%= link_to 'Invite User', invite_user_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'}  %></p>
        <!-- Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <%= render partial: 'invite_user'%>
                    </div>
                </div>
            </div>
        <!-- End of Modal -->
</div>