<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have received a message from <%= @messageinfo.sender %> within your <%= link_to "#{@messageinfo.name}", edit_idea_url(@messageinfo.idea_id) %> idea.
      <br /><br />
      "<%= @messageinfo.message %>"
    </p>
      <br />
      Reply back by <%= link_to "clicking here", idea_ideamessages_url(@messageinfo.idea_id) %>!
    <p>
    </p>
    <p>Thanks,</p>
    <p>The Idea Team</p>
  </body>
</html>