<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have received a notification on a particular idea. Please take a look at the body below<br>
    </p>
    <p>
    </p>
    <p>Thanks,</p>
    <p>The Idea Team</p>
  </body>
</html>