<h2>Settings</h2>

<h3>Manage Idea Types</h3>
<p>Ideas created belong to an Idea Type. You can manage what types of ideas can be created.</p>
<div class="row">
	<div class="col-md-6">
		<%= render :partial => '/ideatypes/ideatypeform' %>
	</div>
	<div class="col-md-6">
		<%= render :partial => '/ideatypes/ideatypelist' %>
	</div>
</div>

<h3>Manage Default Subfeature Categories</h3>
<p>When new ideas are created, subfeatures are able to filed within categories. These can be managed at the idea level, but the default ones to be created with the creation of a new idea is set here.</p>

<div class="row">
	<div class="col-md-6">
		<%= render :partial => 'subfeaturecategoryform' %>
	</div>
	<div class="col-md-6">
		<%= render :partial => 'subfeaturecategorylist' %>
	</div>
</div>