<div class="row">
	<div class="col-md-3">
		<%= render :partial => '/ideas/ideasidebar' %>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
		  	<div class="panel-heading">
			Domains
			</div>
			<div class="panel-body">
				<%= render :partial => 'searchform' %>
				<br/>
				<% unless @domainresults.blank? %>
					<h3>Search Results</h3>
					<%= render :partial => 'domainresults' %>
				<% end %>
				<h3>Domain Watchlist</h3>
				<%= render :partial => 'domainwatchlist' %>
			</div>
		</div>
	</div>
</div>