<div class="row">
	<%= render :partial => '/ideas/navigation' %>
	<div class="col-md-10">
		<h2>Domains</h2>
		<%= render :partial => 'searchform' %>
		<br/>
		<h3>Search Results</h3>
		<%= render :partial => 'domainresults' unless @domainresults.blank? %>
		<h3>Domain Watchlist</h3>
		<%= render :partial => 'domainwatchlist' %>
	</div>
</div>