<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		  	Menu
		  	</div>
		  	<div class="panel-body">
			<%= render :partial => '/ideas/navigation' %>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
		  	<div class="panel-heading">
			Domains
			</div>
			<div class="panel-body">
				<%= render :partial => 'searchform' %>
				<br/>
				<%= render :partial => 'domainwatchlist' %>
			</div>
		</div>
	</div>
</div>