<ul class="list-group">
	<% @subfeaturesdistinct.each do |category_id, count| %>
		<% SubfeaturecategoriesHelper.returncategory(category_id).each do |n| %>
		<li class="list-group-item">
			<span class="badge"><%= count %></span>
			<%= link_to "#{n.categoryname}", edit_idea_feature_path(:feature => @feature, :subfeaturecategory_id =>category_id) %>
		</li>
		<% end %>
	<% end %>
</ul>