<% @subfeatures.each do |s| %>
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<%= s.name %>
	  	<span class="label label-info"><%= s.status %></span>
        <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>

            <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">Change Status</li>
                <li><a href="#">Pending</a></li>
                <li><a href="#">Fail</a></li>
                <li><a href="#">Passed</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Other Options</li>
                <li><%= link_to "Delete", idea_feature_subfeature_path(:feature_id => s.feature_id, :id => s.id) , :method => :delete %></li>
            </ul>
        </div>
	  </div>
	  <div class="panel-body">
	    <%= s.description %>
	  </div>
	</div>
<% end %>