// Place all the styles related to the features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#featureoverview {
	text-align: center;
}

#featurecontainer {
	padding-top: 50px;
	padding-bottom: 150px;
}