<div class="row">
	<%= render :partial => '/ideas/navigation' %>
	<div class="col-md-10">
		<h2>Features</h2>
		<%= render :partial => 'featurenav' %>
		<%= render :partial => 'editfeature' %>
	</div>
</div>