<div class="row">
	<%= render :partial => '/ideas/navigation' %>
	<div class="col-md-10">
		<h2>Features</h2>
		<%= render :partial => 'featurenav' %>
		<div id="featurecontainer">
			<span id="featureoverview">
				<h4>Navigate to a feature tab or</h4>
				<h4>use the + tab to add a new feature</h4>
			</span>
		</div>
	</div>
</div>