<div class="row">
	<div class="col-md-3">
		<%= render :partial => '/ideas/ideasidebar' %>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
		  	<div class="panel-heading">
			Features
				<div class="pull-right">
					<p><%= link_to "Add Feature", new_idea_feature_path(@idea) %></p>
				</div>
			</div>
			<div class="panel-body">
				<%= render :partial => 'newfeature' %>
			</div>
	</div>
</div>